body{
    background-color: #36393f
    ;
}

header{
    color: #202225;
    margin: 3vh;
    text-align: center;
    font-size: 5vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2{
    font-size: 3vh;
    color: #202225;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img{
    border-radius: 1vh;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

